[submodule "projects/letter-recognition-service"]
	path = projects/letter-recognition-service
	url = https://github.com/mentisVeritas/letter-recognition-service.git
[submodule "projects/crnn-text-recognition"]
	path = projects/crnn-text-recognition
	url = git@github.com:mentisVeritas/crnn-text-recognition.git
